/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0ffe0;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #6cbb3c;
    color: #fff;
    padding: 20px;
    display: flex;
  align-items: center;
  }
  .logo {
    height: 60px;
  }
  
  .logo img {
    height: 100%;
    display: block;
  }
  
  
  header h1 {
    margin: 0;
    font-size: 36px;
    margin-left: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #6cbb3c;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
   


  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #6cbb3c;
  }
  
  section p {
    margin-bottom: 20px;
  }
  button {
    background-color: #6cbb3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5a9c32;
  }
   